.root {
    /*-fx-background-color: linear-gradient(to bottom, #222222, #121212 10%);*/
    -fx-background-color: #040404;
}


.split-pane > .split-pane-divider {
    -fx-background-color: transparent;
}

.left-pane {
    -fx-min-width: 230;
    -fx-pref-width: 230;
    -fx-max-width: 230;
    -fx-background-color: #040404
}

.right-pane {
    -fx-min-width: 400;
    -fx-background-color: linear-gradient(to bottom, #222222, #121212 20%);
   /*-fx-background-color:  linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%), linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%), linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
}

.now-playing-bar {
    -fx-background-color: #282828;
    -fx-min-height: 100;
}

.btn {
    -fx-min-width: 3em;
    -fx-max-width: 3em;
    -fx-min-height: 3em;
    -fx-max-height: 3em;

    -fx-border-style: solid;
    -fx-border-radius: 6em;
    -fx-border-width: 1px;
    -fx-border-color: white;

    -fx-background-radius: 6em;
    -fx-background-color: #1e1e1e;
    /*-fx-background-color: rgba(255, 112, 112, 0.5);*/
}

.btn:hover {
    /*-fx-background-color: rgba(0, 112, 112, 0.5);*/
    -fx-effect: dropshadow(one-pass-box, rgba(255,255,255,0.5), 10, 0, 0, 0);
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-scale-z: 1.1;
}

.button {
    -fx-border-style: none;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.button:hover .icon {
    -fx-background-color: #fff;
}

.button:disabled .icon {
    -fx-background-color: #535353;
}

.play-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #b3b3b3;
    -fx-translate-x: 1px;
    -fx-shape: "M3 22v-20l18 10-18 10z";
}
.pause-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #b3b3b3;
    -fx-shape: "M10 24h-6v-24h6v24zm10-24h-6v24h6v-24z";
}

.next-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #b3b3b3;
    -fx-shape: "M19 12l-18 12v-24l18 12zm4-11h-4v22h4v-22z";
}

.prev-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #b3b3b3;
    -fx-shape: "M19 12l-18 12v-24l18 12zm4-11h-4v22h4v-22z";

    -fx-rotate: 180;
}

.duration-icon {
    -size: 16px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #b3b3b3;
    -fx-shape: "M7.999 3H6.999V7V8H7.999H9.999V7H7.999V3ZM7.5 0C3.358 0 0 3.358 0 7.5C0 11.642 3.358 15 7.5 15C11.642 15 15 11.642 15 7.5C15 3.358 11.642 0 7.5 0ZM7.5 14C3.916 14 1 11.084 1 7.5C1 3.916 3.916 1 7.5 1C11.084 1 14 3.916 14 7.5C14 11.084 11.084 14 7.5 14Z";
}

.audio-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #a4a4a4;
    -fx-shape: "M6 7l8-5v20l-8-5v-10zm-6 10h4v-10h-4v10zm20.264-13.264l-1.497 1.497c1.847 1.783 2.983 4.157 2.983 6.767 0 2.61-1.135 4.984-2.983 6.766l1.498 1.498c2.305-2.153 3.735-5.055 3.735-8.264s-1.43-6.11-3.736-8.264zm-.489 8.264c0-2.084-.915-3.967-2.384-5.391l-1.503 1.503c1.011 1.049 1.637 2.401 1.637 3.888 0 1.488-.623 2.841-1.634 3.891l1.503 1.503c1.468-1.424 2.381-3.309 2.381-5.394z";
}

.mute-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M19 7.358v15.642l-8-5v-.785l8-9.857zm3-6.094l-1.548-1.264-3.446 4.247-6.006 3.753v3.646l-2 2.464v-6.11h-4v10h.843l-3.843 4.736 1.548 1.264 18.452-22.736z";
}

.sound-icon {
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-scale-z: 2;
    -fx-translate-x: -10px;
    -size: 14px;-fx-min-width: -size;-fx-max-width: -size; -fx-min-height: -size; -fx-max-height: -size;-fx-background-color: #21b054 ;-fx-shape: 'M2.5 19.245l.816 1.506 1.684.31-1.18 1.241.225 1.698-1.545-.739-1.545.739.225-1.698-1.18-1.241 1.684-.31.816-1.506zm19.293-3.851l-.917-.326-1.946 5.471c-1.44-.856-3.521-.263-3.98 1.028-.386 1.085.276 1.953 1.211 2.286 1.11.395 2.609.035 3.183-1.574l1.471-4.135c1.42 1.766 1.881 1.979 1.617 3.305.684-.622 1.002-1.098 1.204-1.664.615-1.729-2.338-3-1.843-4.391zm-7.61-12.343l-8.13 5.493 2.849 7.266c-1.789.323-2.981 2.243-2.438 3.627.467 1.191 1.635 1.43 2.646 1.033 1.201-.47 2.18-1.837 1.502-3.571l-2.381-6.074 6.149-3.992 1.885 4.806c-1.786.323-2.98 2.238-2.439 3.618.468 1.195 1.662 1.427 2.668 1.032 1.192-.467 2.16-1.828 1.483-3.562l-3.794-9.676zm-11.683 8.005l-2.5 2.5 2.5 2.5 2.5-2.5-2.5-2.5zm18.346-8.056l1.029 1.9 2.125.392-1.489 1.566.284 2.142-1.949-.932-1.95.932.284-2.142-1.489-1.566 2.125-.392 1.03-1.9zm-12.193-2.381l-.863-.619-3.284 4.575c-1.059-1.622-3.104-2.051-4.158-.582-.651.907-.341 2.187.538 2.818 1.046.751 2.666.91 3.634-.435l4.133-5.757z';
}


.add-icon {
    -size: 14px;-fx-min-height: -size;-fx-min-width: -size;-fx-max-height: -size;-fx-max-width: -size;-fx-background-color: #848484;-fx-shape: 'M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z';
}

.add-folder-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M7 2c1.695 1.942 2.371 3 4 3h13v17h-24v-20h7zm6 11v-3h-2v3h-3v2h3v3h2v-3h3v-2h-3z";
}

.repeat-once-icon {
    -size: 16px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M481.162 164.326c19.478 25.678 30.997 57.709 30.836 92.388C511.61 340.638 442.361 408 358.436 408H176v64c-.001 10.683-12.949 16.021-20.485 8.485l-88-87.995c-4.686-4.686-4.687-12.284 0-16.971l88-88.005c7.58-7.58 20.485-2.14 20.485 8.485v64h182.668C415.933 360 464.06 313.154 464 255.889c-.023-22.372-7.149-43.111-19.237-60.082-3.431-4.817-2.962-11.387 1.223-15.564 8.269-8.255 13.592-13.545 17.137-17.104 5.131-5.152 13.645-4.605 18.039 1.187zM48 256.111C47.94 198.846 96.067 152 153.332 152H336v64c0 10.625 12.905 16.066 20.485 8.485l88-88.005c4.687-4.686 4.686-12.285 0-16.971l-88-87.995C348.949 23.979 336.001 29.317 336 40v64H153.564C69.639 104 .389 171.362.002 255.286c-.16 34.679 11.358 66.71 30.836 92.388 4.394 5.792 12.908 6.339 18.039 1.188 3.545-3.559 8.867-8.849 17.137-17.105 4.185-4.178 4.653-10.748 1.223-15.564-12.088-16.971-19.213-37.71-19.237-60.082zm179.263 43.416c0-7.477 3.917-11.572 11.573-11.572h15.131v-39.878c0-5.163.534-10.503.534-10.503h-.356s-1.779 2.67-2.848 3.738c-4.451 4.273-10.504 4.451-15.666-1.068l-5.518-6.231c-5.342-5.341-4.984-11.216.534-16.379l21.72-19.939c4.449-4.095 8.366-5.697 14.42-5.697h12.105c7.656 0 11.749 3.916 11.749 11.572v84.384h15.488c7.655 0 11.572 4.094 11.572 11.572v8.901c0 7.477-3.917 11.572-11.572 11.572h-67.293c-7.656 0-11.573-4.095-11.573-11.572v-8.9z";
}

.repeat-icon {
    -size: 16px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M2 12c0 .999.381 1.902.989 2.604l-1.098.732-.587.392c-.814-1.025-1.304-2.318-1.304-3.728 0-3.313 2.687-6 6-6h9v-3l6 4-6 4v-3h-9c-2.206 0-4 1.794-4 4zm20.696-3.728l-.587.392-1.098.732c.608.702.989 1.605.989 2.604 0 2.206-1.795 4-4 4h-9v-3l-6 4 6 4v-3h9c3.313 0 6-2.687 6-6 0-1.41-.489-2.703-1.304-3.728z";
}

.shuffle-icon {
    -size: 16px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M2 7h-2v-2h2c3.49 0 5.48 1.221 6.822 2.854-.41.654-.754 1.312-1.055 1.939-1.087-1.643-2.633-2.793-5.767-2.793zm16 10c-3.084 0-4.604-1.147-5.679-2.786-.302.627-.647 1.284-1.06 1.937 1.327 1.629 3.291 2.849 6.739 2.849v3l6-4-6-4v3zm0-10v3l6-4-6-4v3c-5.834 0-7.436 3.482-8.85 6.556-1.343 2.921-2.504 5.444-7.15 5.444h-2v2h2c5.928 0 7.543-3.511 8.968-6.609 1.331-2.893 2.479-5.391 7.032-5.391z";
}

.lrc-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M12 21h-12v-2h12v2zm4-9l8-1v6.681c-.002 1.555-1.18 2.319-2.257 2.319-.907 0-1.743-.542-1.743-1.61 0-.96.903-1.852 2-2.073v-2.317l-4 .5v4.181c-.002 1.555-1.18 2.319-2.257 2.319-.907 0-1.743-.542-1.743-1.61 0-.96.903-1.852 2-2.073v-5.317zm-4 4.976h-12v-2h12v2zm0-3.976h-12v-2h12v2zm12-4h-24v-2h24v2zm0-4h-24v-2h24v2z";
}

.close-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z";
}

.button:hover .close-icon {
    -fx-background-color: tomato;
}

.maximize-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm0 394c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V192h416v234z";
}
.restore-icon {
    -size: 14px;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M464 0H144c-26.5 0-48 21.5-48 48v48H48c-26.5 0-48 21.5-48 48v320c0 26.5 21.5 48 48 48h320c26.5 0 48-21.5 48-48v-48h48c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zm-96 464H48V256h320v208zm96-96h-48V144c0-26.5-21.5-48-48-48H144V48h320v320z";
}
.minimize-icon {
    -size: 14px;
    -fx-min-height: 3px;
    -fx-min-width: -size;
    -fx-max-height: 3px;
    -fx-max-width: -size;
    -fx-background-color: #848484;
    -fx-shape: "M464 352H48c-26.5 0-48 21.5-48 48v32c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48v-32c0-26.5-21.5-48-48-48z";
}

.icon.active {
    -fx-background-color: #21b054;
}



.active.button .icon {
    -fx-background-color: #21b054;
}
.active.button:hover .icon {
    -fx-background-color: #21b054;
}

.color-slider .thumb {

    -fx-background-color: transparent;
    -fx-pref-width: 10px;
    -fx-pref-height: 10px;
}

.color-slider .track {
    -fx-pref-height: 4px;
    -fx-background-radius: 2px;
    -fx-background-color: #535353;
}

.volume-bar .color-slider{
    -fx-pref-width: 100px;
}

.list-view{
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
}

.list-view .list-cell:filled {
    -fx-background-color: #121212;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #2a2a2a;
}



.list-view .list-cell:filled:selected {
    -fx-background-color: #2b2b2b;
}

.list-view .label{
    -fx-text-fill: #b3b3b3;
}

.list-view .label.title{
    -fx-font-size: 16px;
    -fx-font-weight: 400;
}

.list-view .list-cell:filled:hover .label {
    -fx-text-fill: #efefef;

}

.list-view .list-cell:filled .label.title.playing{
    -fx-text-fill: #21b054;
}


.playlist-header {
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1px;
    -fx-padding: 0 10px 10px 10px;
    -fx-border-color: #292b2d;
}

.playlist-header .label{
    -fx-font-size: 16px;
    -fx-text-fill: #b3b3b3;
}

.list-view .scroll-bar:vertical {
    -fx-background-color:transparent;
    -fx-scale-x: 1;
}

.context-menu {
    -fx-background-color: #282828;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-text-fill: #eaeaea;
    -fx-padding: 0;
    -fx-effect: none;
}

.menu-item {
    -fx-background-color: #282828;
    -fx-text-fill: #eaeaea;
}
.menu-item:hover {
    -fx-background-color: #3e3e3e;
}


.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color:#5a5a5a;
    -fx-background-insets: 2, 2, 2;
    -fx-background-radius: 0;
}

.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color:#7a7a7a;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-x: 0;
}

.scroll-bar > .corner {
    -fx-background-color: transparent ;
}

.list-view .text-field{
    -fx-text-fill: #b3b3b3;
}

.list-view .list-cell:filled:hover .text-field {
    -fx-text-fill: #efefef;

}

.lrc-list.list-view {
    -fx-pref-width: 1080px;
    -fx-max-height: 400px;
    -fx-background-color: transparent;
}

.lrc-list.list-view .label {
    -fx-font-size: 16px;
    -fx-padding: 10px 10px 10px 10px;
    -fx-text-alignment: center;
}
.lrc-list.list-view .list-cell {
    -fx-background-color: transparent;
}
.lrc-list.list-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-scale-x: 0;
}
.lrc-list.list-view .scroll-bar:vertical .corner{
    -fx-scale-x: 0;
}

.list-view.lrc-list .list-cell:filled:hover {
    -fx-background-color: transparent;
}

.list-view.lrc-list .list-cell:filled:selected {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: transparent ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-cursor: none;
    -fx-min-width: 0;
}
.text-field:focused {
    -fx-background-color: transparent ;
}